html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: none;
    background-image: linear-gradient(#30466e, #211d36, #191a25);
    overflow-x: hidden;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Type Selector sets default for all p elements */
p {
    text-align: center;
    font-family: "Georgia";
    color: #d4d5dd;
}

div {
    font-family: 'Lucida Sans';
    color: #8889da;
}

h1 {
    align-items: center;
    text-align: center;
}

.title-container {
    text-align: center;
    align-self: center;
    /* Relative positioning allows absolute positioning within it */
}

/* ID selector for objects main-title objects */
.main-title {
    display: inline-block;
    border-style: ridge;
    border-color: #4ddef1;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 5rem;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-variant: small-caps;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

/* Flex container for navigation menu */
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.nav-menu li {
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #313030;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #000000;
}

/* ID Selector for object labeled summary */
#summary {
    color: #ffffff;
    font-family: 'Lucida Sans';
    font-size: 2rem;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .5px;
}

/* Combinator selects all p tags within the main tag */
main p {
    text-decoration: none;
}

/* Relational Selector child all list items under the ul tag */
ul>li {
    font-variant: normal;
    color: #4ddef1;
}

.main-list {
    list-style-position: inside;
    /* Ensures bullets align with the text */
    padding-left: 0;
    /* Remove default padding */
    margin: 0 auto;
    /* Center the list within the container */
    text-align: left;
    /* Align text to the left */
}

#infolist li {
    margin: 5px 0;
    margin-left: 37.5%;
    /* Adjust margin to space out list items */
}

#infolist li a {
    /* Ensure the anchor is treated like a block */
    display: inline-block;
}

/* Flex container for additional sections */
.columns {
    display: flex;
    gap: 10%;
    padding-top: 2rem;
    padding-left: 1%;
    justify-content: center;
    position: relative;
}

.column {
    padding: 2rem;
    border-radius: 10rem;
    text-align: center;
    border-style: double;
    border-width: .1vh 1vw;
    border-color: #30d689;
    width: 20%;
}

.grid-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    /* Adjust to bring the grids closer to the columns */
    width: 60%;
    /* Width of the wrapper aligned with the columns */
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.grid-container.left {
    align-items: flex-start;
    padding-left: 5%;
    gap: 8%;
}

.grid-container.right {
    align-items: flex-end;
    padding-right: 4%;
    gap: 8%;
}

.grid-item {
    color: #ffffff;
    background-color: #0c3666;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 8vw;
    /* Set a fixed width for the grid items */
}


/* Normal link color */
a:link {
    color: #5aad8b;
}

/* Visited link color */
a:visited {
    color: #8e5aad;
}

/* Hover link color */
a:hover {
    color: #3cff00;
}

/* Additional Font Properties for all p tags within footer tags */
footer p {
    font-size: .75rem;
    font-weight: bold;
    text-align: left;
    position: relative;
}

/* For tablets and smaller devices */
@media (max-width: 1024px) {
    .nav-menu {
        /* Vertical menu for smaller screens */
        flex-direction: row;
        align-items: center;
    }


    /* Adjust font size for readability */
    .main-titles {
        font-size: 1%;
    }

    .columns {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .grid-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        /* Adjust to bring the grids closer to the columns */
        width: 60%;
        /* Width of the wrapper aligned with the columns */
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container {
        width: 100%;
        height: 100%;
    }

    .grid-container.left {
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: start;
    }

    .grid-container.right {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }

}

/* For mobile devices */
@media (max-width: 600px) {
    body {
        /* Reduce padding for small screens */
        padding-left: 1rem;
    }

    /* Vertical menu for mobile */
    .nav-menu {
        flex-direction: column;
        /* Reduce gap */
        gap: 10px;
        align-items: center;
    }

    main {
        margin: 5px;
        padding: 5px;
    }

    /* Adjust font size for readability */
    .main-titles {
        display: inline-block;
        font-size: 1rem;
    }

    /* Adjust width for smaller screens */

    /* Adjust font size for readability */
    footer p {
        font-size: 1rem;
    }

    .columns {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .grid-wrapper {
        display: flex;
        margin-top: 1rem;
        gap: 0;
        /* Adjust to bring the grids closer to the columns */
        /* Width of the wrapper aligned with the columns */
    }
    .grid-container {
        width: 100%;
        gap: 0;
    }
    .grid-container.left {
        width: 100%;
        height: 100%;
        align-items: start;
        transform: translateY(-20%);
        transform: translateX(-40%);
    }

    .grid-container.right {
        gap: .5rem;
        width: 100%;
        height: 100%;
    }
    .grid-item {
        text-align: left;
        font-size: .8rem;
        color: #ffffff;
        background-color: #0c3666;
        text-align: center;
        width: 10vw;
        /* Set a fixed width for the grid items */
    }
}

@media (max-width: 300px) {
    /* Vertical menu for mobile */
    .nav-menu {
        flex-direction: column;
        /* Reduce gap */
        gap: 10px;
        align-items: center;
    }

    main {
        margin: 5px;
        padding: 5px;
    }

    /* Adjust font size for readability */
    /* Adjust width for smaller screens */

    /* Adjust font size for readability */
    footer p {
        font-size: 1rem;
    }

    .columns {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .grid-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .grid-container {
        flex-direction: row;
        width: 50%;
        font-size: .8rem;
        text-align: justify;
    }

    .grid-container.left {
        flex-direction: row;
        align-items: start;
    }

    .grid-container.right {
        flex-direction: row;
        align-items: end;

    }
}