html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: none;
    background-image: linear-gradient(#30466e, #211d36, #191a25);
    overflow-x: hidden;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/malamuter_background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    pointer-events: none;
    /* Prevent the logo from blocking interactions with content */
}

p {
    text-align: start;
    font-variant: normal;
    color: #d4d5dd;
    font-weight: bolder;
}

#ourgoal p {
    padding-top: 0;
    font-size: 1rem;
    text-wrap: balance;
}

div {
    font-family: 'Lucida Sans';
    color: #8889da;
}

h1 {
    align-items: center;
    text-align: center;
}

.title-container {
    text-align: center;
    font-family: 'Gothic';
}

.main-title {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-variant: small-caps;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: none;
    padding-bottom: 0;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #313030;
}

.nav-menu a:hover {
    background-color: #000000;
}

.summary {
    color: #ffffff;
    font-family: 'Lucida Sans';
    font-size: 1.5rem;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .5px;
}

ul>li {
    list-style-position: inside;
    font-variant: normal;
    color: #ffffff;
    align-items: center;
}

.columns {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    gap: 0;
}

.column:not(:last-child) {
    border-right: 1px solid #4ddef1;
}

.column:not(:first-child) {
    border-left: 1px solid #4ddef1;
}

.column {
    flex: 1;
    padding: 1%;
}

.bottom-text {
    color: #ffffff;
    font-family: 'Gothic';
    font-size: 1.2rem;
}

a:link {
    color: #5aad8b;
}

a:visited {
    color: #8e5aad;
}

a:hover {
    color: #3cff00;
}

footer p {
    font-size: .75rem;
    font-weight: bold;
    text-align: left;
    position: relative;
}

@media (max-width: 1200px) {
    .nav-menu {
        flex-direction: row;
        align-items: center;
    }

    .nav-menu a {
        text-decoration: none;
        padding: 30px 25px;
        border-radius: 4px;
        background-color: #313030;
        text-align: end;
    }


    ul>li {
        font-size: small;
        text-align: left;
    }

    .main-titles {
        font-size: 1%;
        display: inline-block;
        color: rgb(255, 255, 255);
        font-variant: small-caps;
        padding-bottom: 0;
    }

    h2 {
        font-size: 1.2rem;
        text-align: left;
    }

    .columns {
        flex-direction: column;
        text-align: center;
    }

    .column {
        flex-direction: column;
        border: none;
        border: 1px solid #4ddef1;
        text-align: center;
    }

    #column-1 {
        order: 1;
        /* First column */
        text-align: center;
    }

    #column-1 h2 {
        text-align: center;
    }

    #column-2 {
        order: 2;
        /* Swapping second and third columns */
    }

    #column-3 {
        order: 3;
        /* Swapping second and third columns */
    }

    #column-3 h2 {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        gap: 10;
    }

    .nav-menu li {
        font-size: 1rem;
    }

    .nav-menu a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: #313030;
    }


    ul>li {
        font-size: small;
        text-align: left;
    }

    .main-titles {
        font-size: 1%;
        display: inline-block;
        color: rgb(255, 255, 255);
        font-variant: small-caps;
        padding-bottom: 0;
    }

    h2 {
        font-size: 1.2rem;
        text-align: left;
    }

    .columns {
        flex-direction: column;
        text-align: center;
    }

    .column {
        flex-direction: column;
        border: none;
        border: 1px solid #4ddef1;
        text-align: center;
    }

    #column-1 {
        order: 1;
        /* First column */
        text-align: center;
    }

    #column-1 h2 {
        text-align: center;
    }

    #column-2 {
        order: 2;
        /* Swapping second and third columns */
    }

    #column-3 {
        order: 3;
        /* Swapping second and third columns */
    }

    #column-3 h2 {
        text-align: center;
    }
}